.sortby{
    display: flex;
    height: 4rem;
    align-items: center;

    &>* {
      margin-right: 10px !important;
    }

    &-label{
        font-size: 1.6rem !important;
        text-transform: uppercase;
        margin-bottom: 0 !important;
        color:#4F4F4F;
    }

    &-input{
        
        & div{
            width: 27rem;
            height: 3.5rem;
            border-radius: 4px;

            & div{
                padding: 0;
                box-sizing: border-box;
                padding-top: 12px;
                border: 1px solid #4F4F4F;
                font-size: 1.4rem !important;
                padding-left: 1rem;
            }
        }

        & svg{
            top: calc(50% - 14px);
            width: 3rem;
            height: 3rem;
        }

    }

    &-button{
       width: 10rem;
       height: 3.5rem;
       background-color: #00567A !important;
       color: #FFFFFF !important;
       font-size: 1.4rem !important;
       margin-left: 1rem;
    }
}