/*Color Variables*/
$primary-color: #00567A;
$secondary-color: #99CFE5;
$dark-text:#4F4F4F;
$background-color: #E5E5E5;

/*Value Variables*/
$siderWidth: 24rem;


*{
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//Main parent element for dashboard background pages
.main-content{
  flex-grow: 1;
  background-color: $background-color;
  padding:2rem ;
  margin-left: $siderWidth;
  min-height:100vh ;
}

.MuiPickersToolbar-toolbar, .MuiPickersDay-daySelected{
  background-color: $primary-color !important;
}