/*Color Variables*/
$primary-color: #00567A;
$secondary-color: #99CFE5;
$dark-text:#4F4F4F;
$background-color: #E5E5E5;

/*Value Variables*/
$siderWidth: 24rem;


*{
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3,h4,h5,h6{
  color:$dark-text;
  text-transform: uppercase;
  font-weight:400 ;
  margin:0;
}

h3{
  font-size: 2.4rem;
 
}

h4{
  font-size: 1.6rem;
  
}

//Main parent element for dashboard background pages
.main-content{
  flex-grow: 1;
  background-color: $background-color;
  padding:2rem ;
  margin-left: $siderWidth;
  min-height:100vh ;
}

.MuiPickersToolbar-toolbar, .MuiPickersDay-daySelected{
  background-color: $primary-color !important;
}

.is-hidden{
  display: none !important;
  visibility: hidden !important;
}

/*Status Button Colors*/
.pending, .offline{
  background-color:#39A7D4 ;
}

.online, .approved, .now{
  background-color: #44BBA5;
}

.cancelled{
  background-color: #E94F37;
}

.scheduled{
  background-color: $secondary-color;
}

.pending,.offline, .online, .approved,.now, .cancelled, .scheduled{
  border-radius: 2rem;
  padding: 1px;
  text-align: center;
}

/*Hover for button*/
button.MuiButton-contained:hover{
  background-color: transparent !important;
  color: $primary-color !important;
  border: 1px solid $primary-color !important;
}

/*Overwriting Table Tab active color*/
button.MuiTab-textColorPrimary.Mui-selected{
  color: $primary-color;
  border-bottom: $primary-color;
}